---
http_interactions:
- request:
    method: get
    uri: http://api.postmon.com.br/v1/cep/88062365
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"bairro": "Lagoa da Concei\u00e7\u00e3o", "cidade": "Florian\u00f3polis",
        "logradouro": "Servid\u00e3o Valad\u00e3o", "estado_info": {"area_km2": "95.737,895",
        "codigo_ibge": "42", "nome": "Santa Catarina"}, "cep": "88062365", "cidade_info":
        {"area_km2": "675,409", "codigo_ibge": "4205407"}, "estado": "SC"}'
  recorded_at: Tue, 25 Apr 2017 00:23:53 GMT
- request:
    method: get
    uri: http://api.postmon.com.br/v1/cep/88062365
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"bairro": "Lagoa da Concei\u00e7\u00e3o", "cidade": "Florian\u00f3polis",
        "logradouro": "Servid\u00e3o Valad\u00e3o", "estado_info": {"area_km2": "95.737,895",
        "codigo_ibge": "42", "nome": "Santa Catarina"}, "cep": "88062365", "cidade_info":
        {"area_km2": "675,409", "codigo_ibge": "4205407"}, "estado": "SC"}'
  recorded_at: Tue, 25 Apr 2017 00:23:53 GMT
recorded_with: VCR 2.9.2
